<div class="container">
  <h2 class="m-5">商品詳細</h2>
  <div class="row">
    <div class="col-5 d-flex align-items-center justify-content-center">
      <%= attachment_image_tag @item, :image,format: 'jpeg', size: "300x200" %>
    </div>
    <div class="col-7">
      <div>
        <dl class="row">
          <dt class="col-3">商品名</dt>
          <dd class="col-9">
            <%= @item.name %>
          </dd>
          <dt class="col-3">商品説明</dt>
          <dd class="col-9">
            <%= @item.introduction %>
          </dd>
          <dt class="col-3">ジャンル</dt>
          <dd class="col-9">
            <%= @item.genre.name %>
          </dd>
          <dt class="col-3">税込価格<br>(税抜価格)</dt>
          <dd class="col-9">
            <%= @item.add_tax_sales_price.to_s(:delimited) %>
            ( <%=@item.price %> ) 円
          </dd>
          <dt class="col-3">販売ステータス</dt>
          <dd class="col-9">
            <%= @item.sale_status ? '販売中' : '販売停止中' %>
          </dd>
        </dl>
      </div>
    </div>
  </div>
    <div class="text-center">
      <%= link_to "編集する", edit_admin_item_path(@item), class: 'btn btn-success' %>
    </div>
</div>