<div class='container'>
<div class='row pt-5'>
<div class="col-sm-12 col-md-9 col-lg-9 px-5 px-sm-0 mx-auto">
  
<% if @customer.errors.any? %>
<%= render 'layouts/error_messages', model: @customer %>
<%end%>
  
<div class='row py-4'>
    <h4 class="bg-light">会員情報編集</h4>
</div>

 <%= form_with model: @customer,method: :patch, url: customers_information_path do |f|%>
 <div class="form-group">
  <table class="table table-borderless ml-5">
  <tbody>
    <tr>
      <td>氏名</td>
      <td><%= f.text_field :first_name,value: "#{@customer.first_name}",class: 'form-control' %></td>
      <td><%= f.text_field :last_name,value: "#{@customer.last_name}" ,class: 'form-control'%></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td><%= f.text_field :first_name_kana ,value: "#{@customer.first_name_kana}",class: 'form-control' %></td>
      <td><%= f.text_field :last_name_kana,value: "#{@customer.last_name_kana}" ,class: 'form-control'%></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= f.text_field :post_code ,value: "#{@customer.post_code}",class: 'form-control' %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td colspan="3"><%= f.text_field :address ,value: "#{@customer.address}",class: 'form-control' %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= f.text_field :telephone_number ,value: "#{@customer.telephone_number}",class: 'form-control' %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.email_field :email ,value: "#{@customer.email}",class: 'form-control' %></td>
    </tr>
    <tr>
      <td></td>
      <td><%=f.submit "編集内容を保存", class: "btn btn-outline-success px-5"%></td>
      <td></td>
      <td><%=link_to "退会する", withdraw_customers_path, class: "btn btn-outline-danger px-4"%></td>
    </tr>

  </tbody>
  </table>
</div>
<%end%>

</div>
</div>
</div>