<div class='container'>
<div class='row pt-5'>
<div class="col-sm-12 col-md-11 col-lg-10 px-5 px-sm-0 mx-auto">

  <div class='row pt-2'>
    <h4>注文履歴一覧</h4>
  </div>

  <table class="table table-hover">
  <thead class="table-active">
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>注文商品</th>
      <th>支払金額</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr class="order_index_tbody_tr tr-color" data-href="/orders/<%= order.id%>">
      <th><%= order.created_at.to_s(:date_jp) %></th>

      <td>〒<%= order.delivery_post_code %><br>
          <%= order.delivery_address %><br>
          <%= order.delivery_address_label %>
      </td>

      <td><% order.order_items.each do |order_item|%>
            <%= order_item.item.name %>  <!--order_itemに紐づくitemのnameをeachで順に表示-->
          <%end%>
      </td>
      <td><%= order.total_price.to_s(:delimited) %>円</td>
      <td><%= order.order_status_i18n %></td>
    </tr>
   <%end%>
   <%= paginate @orders, theme: 'bootstrap-5' %>
  </tbody>
</table>

</div>
</div>
</div>

<script>
  jQuery(document).on("turbolinks:load", function() {
  $(".order_index_tbody_tr").on('click', function() {
      window.location = $(this).data("href");
  });
});

</script>