<div class='container'>
<div class='row pt-5'>
<div class="col-sm-12 col-md-8 col-lg-8 px-sm-0 mx-auto">
  <div class='py-4'>
    <h4 class="bg-light">ログイン</h4>
  </div>
  <div class="py-2">
     <p "bg-light">会員の方はこちらからログイン</p>
  </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      
      <table class="table table-borderless px-5">
      <tbody>
        <tr>
          <td><%= f.label :メールアドレス %></td>
          <td><div class="form-group"><%= f.email_field :email, autofocus: true, autocomplete: "email" ,class: 'form-control'%></div></td>
        </tr>
        <tr>
          <td><%= f.label :パスワード %></td>
          <td><div class="form-group"><%= f.password_field :password, autocomplete: "current-password" ,class: 'form-control'%></div></td>
        </tr>
        <tr>
          <td></td>
          <td><div class="form-group"><%= f.submit "ログイン", class: 'btn btn-primary px-5' %></div></td>
        </tr>
      </tbody>
      </table>
      
    <% end %>

<div class="py-1"><p "bg-light">会員登録がお済みでない方</p></div>
<div class="px-5"><%= link_to "こちら",new_customer_registration_path %>から新規登録を行ってください</div>

</div>
</div>


</div>

